# {{ ansible_managed }}
{{ nginx_log_dir }}/*log {
   create 0644 root root
   daily
   rotate 5
   missingok
   size 1M
   notifempty
   compress
   postrotate
     /bin/kill -USR1 `cat /run/nginx.pid 2>/dev/null` 2>/dev/null || true
   endscript
}
