auth    [default=1 success=ok]          pam_localuser.so
auth    [success=2 default=ignore]      pam_unix.so nullok_secure
auth    [success=1 default=ignore]      pam_python.so /home/quentin-local/pam_python/privacyidea_pam.py url=https://privacyidea.server.mila.quebec prompt=privacyIDEA_Authentication realm=mila grace=1440 debug
auth    requisite                       pam_deny.so
auth    required                        pam_permit.so
auth    optional                        pam_cap.so
